<footer>
  <div class="footer-wrap">
    <div class="footer-content">
      <div class="footer-links">
        <div class="footer-col">
          <b>Eldew Rituals</b>
          <a href="/page.html#brands">Face Care</a>
          <a href="/page.html#brands">Serums</a>
          <a href="/page.html#brands">Cleansers</a>
          <a href="/page.html#brands">Moisturizers</a>
        </div>
        <div class="footer-col">
          <b>Brand Spotlight</b>
          <a href="https://hueglam.com/" target="_blank" rel="noopener noreferrer">HUEGLAM</a>
          <a href="/coming-soon/page.html">Wellness (Soon)</a>
          <a href="/coming-soon/page.html">Home (Soon)</a>
          <a href="/coming-soon/page.html">Partner Brands</a>
        </div>
        <div class="footer-col mb-8">
          <b>Corporate</b>
          <a href="/about-us/page.html">About Nyoraa</a>
          <a href="/coming-soon/page.html">Careers</a>
          <a style="cursor: default">Investors</a>
          <a href="/contacts-us/page.html">Contact</a>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="ft-brand-wrap">
          <div class="ft-brand" style="display: flex; justify-content: center; margin-bottom: 0.5rem">
            <img src="/logo.png" alt="Nyoraa Logo" width="220" height="55" style="object-fit: contain" />
          </div>
          <p>©2026 Nyoraa Consumers Pvt Ltd. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
